@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #030303;
  --foreground: #f8f8f8;

  --vt-c-pink: #ed1271;
  --vt-c-lime: #00ff33;
  --vt-c-cyan: #00ffff;
  --vt-c-yellow: #ffff00;
  --vt-c-orange: #ff7c17;

  --color-border: rgba(84, 84, 84, 0.48);
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('/fonts/OpenDyslexic-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenDyslexic';
  src: url('/fonts/OpenDyslexic-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'OpenDyslexic';
  src: url('/fonts/OpenDyslexic-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'OpenDyslexic';
  src: url('/fonts/OpenDyslexic-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 12pt;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  width: 100%;
  display: flex;
  place-items: center;
  position: sticky;
  top: 0px;
  border: 1px solid var(--color-border);
  background-color: hsla(0, 0%, 9%, 0.9);
  z-index: 100;
}

header, h1 {
  font-family: 'OpenDyslexic', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 2rem;
  text-align: left;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
  color: var(--foreground);
  transition: 0.4s;
  vertical-align: middle;
}
a:hover {
  color: var(--vt-c-pink);
}

.highlight {
  color: var(--vt-c-pink);
}

/* Custom scrollbar */

body::-webkit-scrollbar {
  width: 5px;
}
body::-moz-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: var(--vt-c-black);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--vt-c-pink);
}

/* Animation main title */

.main-title-container {
  height: 1em;
}
.main-title-container .main-title-container__ {
  overflow: hidden;
}
.main-title-container__list {
  animation-name: swipe;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes swipe {
  0%,
  12%,
  100% {
    transform: translate3d(0, -3%, 0);
  }
  16%,
  29% {
    transform: translate3d(0, -23%, 0);
  }
  33%,
  46% {
    transform: translate3d(0, -43%, 0);
  }
  50%,
  62% {
    transform: translate3d(0, -63%, 0);
  }
  66%,
  79% {
    transform: translate3d(0, -83%, 0);
  }
}
