.isometricCity {
    --ground--night: hsl(0, 0%, 21%);
    --ground-dark--night: hsl(0, 0%, 5%);
    --road--night: hsl(0, 0%, 26%);
    --grass--night: hsl(0, 0%, 11%);
    --tree-trunc--night: hsl(0, 0%, 7%);
    --parking--night: hsl(0, 0%, 40%);
    --ground: hsl(0, 0%, 51%);
    --ground-dark: hsl(0, 0%, 30%);
    --road: hsl(0, 0%, 56%);
    --grass: hsl(0, 0%, 41%);
    --tree-trunc: hsl(25, 100%, 17%);
    --parking: hsl(0, 0%, 100%);
  
    --water: var(--vt-c-cyan);
    --water-drop: var(--foreground);
    --tree: var(--vt-c-lime);
    --building-1: hsl(283, 34%, 32%);
    --building-1-dark: hsl(283, 34%, 12%);
    --building-1-window: var(--vt-c-pink);
    --roof: hsl(283, 34%, 32%);
    --roof-light: hsl(283, 34%, 52%);
    --car-1: var(--vt-c-yellow);
    --car-2: var(--vt-c-orange);
  }
  
  .isometricCity {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .nightMode i,
  .roof {
    cursor: pointer;
  }
  .nightMode {
    width: 24px;
  }
  
  /* Sizes */
  
  .isoContainer {
    width: 560px;
  }
  .ground {
    width: 360px;
    height: 360px;
  }
  .isoDescription {
    min-width: 300px;
    max-width: 560px;
    height: 630px;
  }
  
  /* Carousel */
  
  .isoDescription {
    display: inline-block;
    margin-bottom: 20px;
  }
  .isoDescription ul {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0;
    list-style: none;
    border-radius: 5px;
    overflow: hidden;
  }
  .isoDescription ul li {
    height: calc(100% - 70px);
    position: absolute;
    overflow-y: auto;
    opacity: 0;
    overflow: hidden;
  }
  .isoDescription .card {
    height: 100%;
  }
  .carouselActivator {
    display: none;
  }
  .carouselActivator:nth-of-type(1):checked ~ li:nth-of-type(1),
  .carouselActivator:nth-of-type(2):checked ~ li:nth-of-type(2),
  .carouselActivator:nth-of-type(3):checked ~ li:nth-of-type(3),
  .carouselActivator:nth-of-type(4):checked ~ li:nth-of-type(4),
  .carouselActivator:nth-of-type(5):checked ~ li:nth-of-type(5),
  .carouselActivator:nth-of-type(6):checked ~ li:nth-of-type(6),
  .carouselActivator:nth-of-type(7):checked ~ li:nth-of-type(7) {
    transition:
      opacity 0.5s,
      transform 0.5s;
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;
    transform: scale(1);
    z-index: 5;
  }

  .card {
    padding: 10px 20px;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    background-color: var(--vt-c-black-soft);
    box-shadow: -1rem 0 3rem #000;
    border: 1px solid var(--color-border);
    border-radius: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .pins {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
  }
  .pins span {
    border: 1px solid var(--vt-c-pink);
    border-radius: 15px;
    padding: 2px 10px;
  }
  
  /* Colors */
  
  .ground {
    background-color: var(--ground);
  }
  .ground div.shadowRight {
    background-color: var(--ground-dark);
  }
  .ground div.shadowLeft {
    background-color: var(--ground);
  }
  .grass div {
    background-color: var(--grass);
  }
  .road div {
    background-color: var(--road);
  }
  .parking div {
    background-color: var(--road);
    border: 1px solid var(--parking);
  }
  .parking div::after {
    color: var(--parking);
  }
  .water div {
    background-color: var(--water);
    box-shadow: 0 0 8px 3px hsl(186, 100%, 88%);
  }
  .waterDrops div {
    background-color: var(--water-drop);
  }
  .water div {
    box-shadow: 0 0 8px 3px hsl(186, 100%, 88%);
  }
  .tree div {
    background: var(--tree);
    box-shadow: 0 0 12px 2px var(--tree);
  }
  .tree div:before {
    background: var(--tree-trunc);
  }
  .car div.car1 {
    background-color: var(--car-1);
    box-shadow: 0 0 18px 7px var(--car-1);
  }
  .car div.car1::after {
    box-shadow: 0 0 18px 5px var(--car-1);
  }
  .car div.car2 {
    background-color: var(--car-2);
  }
  .car div.car2::after {
    box-shadow: 0 0 18px 5px var(--car-2);
  }
  .brickhouse .wallOne,
  .brickbuilding .wallOne {
    background-color: var(--building-1);
  }
  .brickhouse .wallTwo,
  .brickbuilding .wallTwo {
    background-color: var(--building-1-dark);
  }
  .brickhouse .roof,
  .brickbuilding .roof {
    background-color: var(--roof);
  }
  .brickhouse .wallOne div,
  .brickhouse .wallTwo div,
  .brickbuilding .wallOne div,
  .brickbuilding .wallTwo div {
    background-color: var(--building-1-window);
  }
  .brickhouse .wallOne div {
    box-shadow:
      0 10px 0 0 var(--building-1-window),
      10px 0px 0 0 var(--building-1-window),
      10px 10px 0 0 var(--building-1-window),
      20px 0px 0 0 var(--building-1-window),
      20px 10px 0 0 var(--building-1-window),
      30px 0px 0 0 var(--building-1-window),
      30px 10px 0 0 var(--building-1-window);
  }
  .brickbuilding .wallOne div {
    box-shadow:
      0 10px 0 0 var(--building-1-window),
      0 20px 0 0 var(--building-1-window),
      0 30px 0 0 var(--building-1-window),
      10px 0px 0 0 var(--building-1-window),
      10px 10px 0 0 var(--building-1-window),
      10px 20px 0 0 var(--building-1-window),
      10px 30px 0 0 var(--building-1-window),
      20px 0px 0 0 var(--building-1-window),
      20px 10px 0 0 var(--building-1-window),
      20px 20px 0 0 var(--building-1-window),
      20px 30px 0 0 var(--building-1-window),
      30px 0px 0 0 var(--building-1-window),
      30px 10px 0 0 var(--building-1-window),
      30px 20px 0 0 var(--building-1-window),
      30px 30px 0 0 var(--building-1-window);
  }
  .brickhouse .wallTwo div {
    box-shadow:
      0 10px 0 0 var(--building-1-window),
      0 20px 0 0 var(--building-1-window),
      0 30px 0 0 var(--building-1-window),
      10px 0 0 0 var(--building-1-window),
      10px 10px 0 0 var(--building-1-window),
      10px 20px 0 0 var(--building-1-window),
      10px 30px 0 0 var(--building-1-window);
  }
  .brickbuilding .wallTwo div {
    box-shadow:
      10px 0 0 0 var(--building-1-window),
      20px 0 0 0 var(--building-1-window),
      30px 0 0 0 var(--building-1-window),
      0px 10px 0 0 var(--building-1-window),
      10px 10px 0 0 var(--building-1-window),
      20px 10px 0 0 var(--building-1-window),
      30px 10px 0 0 var(--building-1-window),
      0px 20px 0 0 var(--building-1-window),
      10px 20px 0 0 var(--building-1-window),
      20px 20px 0 0 var(--building-1-window),
      30px 20px 0 0 var(--building-1-window),
      0px 30px 0 0 var(--building-1-window),
      10px 30px 0 0 var(--building-1-window),
      20px 30px 0 0 var(--building-1-window),
      30px 30px 0 0 var(--building-1-window);
  }
  .roof.selected::after {
    box-shadow: inset 0 0 8px 3px var(--building-1-window);
  }
  .roof:hover,
  .roof.selected {
    background: linear-gradient(#e66465, var(--roof-light));
    box-shadow: 0 0 18px 7px var(--building-1-window);
  }
  /* Night Mode */
  .ground.night {
    background-color: var(--ground--night);
  }
  .ground.night div.shadowRight {
    background-color: var(--ground-dark--night);
  }
  .ground.night div.shadowLeft {
    background-color: var(--ground--night);
  }
  .ground.night .grass div {
    background-color: var(--grass--night);
  }
  .ground.night .road div {
    background-color: var(--road--night);
  }
  .ground.night .parking div {
    background-color: var(--road--night);
    border: 1px solid var(--parking--night);
  }
  .ground.night .parking div::after {
    color: var(--parking--night);
  }
  
  /* Ground */
  
  .ground {
    display: block;
    transform: rotateZ(45deg) translateX(140px);
    z-index: 0;
  }
  .ground div.shadowRight {
    position: absolute;
    display: block;
    width: 10px;
    height: 100%;
    top: 5px;
    right: -10px;
    z-index: 1;
    transform: skewY(45deg);
  }
  .ground div.shadowLeft {
    position: absolute;
    display: block;
    width: 100%;
    height: 10px;
    bottom: -10px;
    right: -5px;
    z-index: 1;
    transform: skewX(45deg);
  }
  
  /* Grass */
  
  .grass div {
    position: absolute;
    display: block;
    z-index: 2;
  }
  .grass div.grass1 {
    width: 70px;
    height: 260px;
    bottom: 0px;
    left: 0px;
  }
  .grass div.grass2 {
    width: 325px;
    height: 55px;
    top: 0px;
    left: 0px;
  }
  .grass div.grass3 {
    width: 27px;
    height: 260px;
    bottom: 0px;
    left: 115px;
  }
  .grass div.grass4 {
    width: 220px;
    height: 70px;
    bottom: 0px;
    right: 0px;
  }
  .grass div.grass5 {
    width: 140px;
    height: 180px;
    bottom: 115px;
    right: 35px;
  }
  
  /* Parkings */
  
  .parking div {
    position: absolute;
    display: block;
    transform: rotate(-90deg);
    width: 15px;
    height: 23px;
    font-size: 9pt;
    z-index: 2;
  }
  .parking div::after {
    content: 'P';
    margin-top: 20px;
    margin-left: 3px;
  }
  .parking div.parking1 {
    bottom: 200px;
    right: 38px;
  }
  .parking div.parking2 {
    bottom: 215px;
    right: 38px;
  }
  .parking div.parking3 {
    bottom: 230px;
    right: 38px;
  }
  
  /* Water */
  
  .water div {
    position: absolute;
    display: block;
    z-index: 3;
  }
  .waterDrops div {
    position: absolute;
    display: block;
    width: 4px;
    height: 0px;
    border-radius: 4px;
    opacity: 0.4;
    animation: waterDrops 2s ease infinite;
    transform: rotateZ(-45deg);
    z-index: 5;
  }
  @keyframes waterDrops {
    0% {
      height: 0px;
      border-radius: 3px;
    }
    50% {
      height: 15px;
    }
    100% {
      height: 0px;
    }
  }
  div.one .waterDrops div:nth-child(1) {
    bottom: -20px;
    left: 10px;
    animation-delay: 0.25s;
  }
  div.one .waterDrops div:nth-child(2) {
    bottom: -20px;
    left: 15px;
    animation-delay: 0.5s;
  }
  div.one .waterDrops div:nth-child(3) {
    bottom: -20px;
    left: 20px;
    animation-delay: 0.75s;
  }
  div.one .waterDrops div:nth-child(4) {
    bottom: -20px;
    left: 25px;
    animation-delay: 1s;
  }
  .water div.one {
    width: 42px;
    height: 30px;
    bottom: 135px;
    right: 55px;
    border-radius: 2px;
  }
  .water div.one::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 2px;
  }
  
  /* Road */
  
  .road div {
    position: absolute;
    display: block;
    width: 25px;
    z-index: 5;
  }
  .road div.road1 {
    height: 280px;
    bottom: 0;
    left: 80px;
  }
  .road div.road2 {
    height: 200px;
    top: 80px;
    left: 152px;
  }
  .road div.road3 {
    height: 280px;
    top: 0;
    right: 0;
  }
  .road div.road4 {
    transform: rotateZ(90deg);
    height: 177px;
    top: -10px;
    left: 76px;
  }
  .road div.road5 {
    transform: rotateZ(90deg);
    height: 180px;
    bottom: 2px;
    right: 91px;
  }
  
  /* Trees */
  
  .tree div {
    position: absolute;
    border-radius: 10% 50% 50% 50%;
    height: 30px;
    width: 30px;
    animation: sway 2s ease-in-out infinite;
    animation-direction: alternate;
    transform-origin: bottom;
    animation-delay: 1s;
    z-index: 6;
  }
  .tree div:before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: calc(50% + 9px);
    height: 20%;
    width: 33%;
    transform: rotate(45deg);
  }
  @keyframes sway {
    0% {
      transform: skewX(12deg);
    }
    60% {
      transform: skewX(0deg);
    }
    100% {
      transform: skewX(12deg);
    }
  }
  .tree div.tree1 {
    top: 10px;
    left: 10px;
  }
  .tree div.tree2 {
    top: 10px;
    left: 45px;
  }
  .tree div.tree3 {
    bottom: 14px;
    left: 95px;
  }
  .tree div.tree4 {
    bottom: 110px;
    left: 10px;
  }
  .tree div.tree5 {
    bottom: 150px;
    left: 10px;
  }
  .tree div.tree6 {
    top: 10px;
    left: 185px;
  }
  .tree div.tree7 {
    bottom: 140px;
    left: 100px;
  }
  .tree div.tree8 {
    bottom: 230px;
    left: 100px;
  }
  .tree div.tree9 {
    bottom: 14px;
    right: 150px;
  }
  .tree div.tree10 {
    bottom: 14px;
    right: 10px;
  }
  .tree div.tree11 {
    top: 100px;
    right: 75px;
  }
  
  /* Cars */
  
  .car div {
    position: absolute;
    display: block;
    width: 15px;
    height: 7px;
    z-index: 5;
  }
  .car div.car1 {
    top: 79px;
    left: 0px;
    animation: car-one 9s linear infinite;
    animation-delay: 0.25s;
  }
  .car div.car1::after {
    display: block;
    content: '';
  }
  @keyframes car-one {
    0% {
      top: 79px;
      left: 0px;
      transform: rotate(0deg);
      box-shadow: 2px 2px 0 0 #333;
    }
    24% {
      transform: rotate(0deg);
      box-shadow: 2px 2px 0 0 #333;
    }
    25% {
      top: 79px;
      left: 76px;
      transform: rotate(90deg);
      box-shadow: 2px -2px 0 0 #333;
    }
    100% {
      top: calc(100% - 10px);
      left: 76px;
      transform: rotate(90deg);
      box-shadow: 2px -2px 0 0 #333;
    }
  }
  .car div.car2 {
    top: 0px;
    right: 0px;
    animation: car-two 14s linear infinite;
    animation-delay: 5s;
    visibility: hidden;
  }
  .car div.car2::after {
    display: block;
    content: '';
  }
  @keyframes car-two {
    0% {
      visibility: visible;
      top: 0px;
      right: 14px;
      transform: rotate(90deg);
      box-shadow: 2px -2px 0 0 #333;
    }
    19% {
      transform: rotate(90deg);
      box-shadow: 2px -2px 0 0 #333;
    }
    20% {
      top: 112px;
      right: 14px;
      transform: rotate(180deg);
      box-shadow: -2px -2px 0 0 #333;
    }
    30% {
      top: 112px;
      right: 39px;
      transform: rotate(180deg);
      box-shadow: -2px -2px 0 0 #333;
    }
    50% {
      top: 112px;
      right: 39px;
      transform: rotate(180deg);
      box-shadow: -2px -2px 0 0 #333;
    }
    60% {
      top: 112px;
      right: 0px;
      transform: rotate(180deg);
      box-shadow: -2px -2px 0 0 #333;
    }
    61% {
      top: 112px;
      right: 0px;
      transform: rotate(270deg);
      box-shadow: -2px 2px 0 0 #333;
    }
    66% {
      top: 125px;
      right: 0px;
      transform: rotate(270deg);
      box-shadow: -2px 2px 0 0 #333;
    }
    80% {
      top: 0px;
      right: 0px;
      transform: rotate(270deg);
      box-shadow: -2px 2px 0 0 #333;
    }
    81% {
      transform: rotate(270deg);
      visibility: hidden;
    }
    100% {
      visibility: hidden;
    }
  }
  
  /* Buildings */
  
  .brickhouse,
  .brickbuilding {
    position: absolute;
    display: block;
    background-color: transparent;
    height: 50px;
    z-index: 6;
  }
  .brickhouse {
    width: 25px;
  }
  .brickbuilding {
    width: 50px;
  }
  .brickhouse .wallOne,
  .brickbuilding .wallOne {
    position: absolute;
    display: block;
    transform: skewX(45deg);
    top: 0px;
    width: 50px;
  }
  .brickhouse .wallOne {
    height: 25px;
    left: -37px;
  }
  .brickbuilding .wallOne {
    height: 50px;
    left: -25px;
  }
  .brickhouse .wallTwo,
  .brickbuilding .wallTwo {
    position: absolute;
    display: block;
    transform: skewY(45deg);
    left: 0px;
    height: 50px;
  }
  .brickhouse .wallTwo {
    top: -37px;
    width: 25px;
  }
  .brickbuilding .wallTwo {
    top: -25px;
    width: 50px;
  }
  .brickhouse .roof,
  .brickbuilding .roof {
    position: absolute;
    display: block;
    border-radius: 2px;
    width: 50px;
    height: 50px;
    top: -50px;
    left: -50px;
  }
  .brickhouse .wallOne div,
  .brickhouse .wallTwo div,
  .brickbuilding .wallOne div,
  .brickbuilding .wallTwo div {
    position: absolute;
    display: block;
  }
  .brickhouse .wallOne div,
  .brickbuilding .wallOne div {
    width: 5px;
    height: 7px;
    top: 3px;
    left: 8px;
  }
  .brickhouse .wallTwo div,
  .brickbuilding .wallTwo div {
    width: 7px;
    height: 5px;
    top: 8px;
    left: 3px;
  }
  
  .roof {
    box-shadow: inset 0 0 0 3px #313131;
    width: 100%;
    height: 100%;
  }
  .roof::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 2px;
  }
