.container {
    padding: 2rem;
    text-align: center;
}

.title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.filters {
    margin-bottom: 1.5rem;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.filterButton {
    padding: 8px 16px;
    border: 1px solid var(--color-button);
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;
}

.filterButton.active,
.filterButton:hover {
    background-color: var(--color-button);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
}

.card {
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid var(--color-border-card);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.cardTitle {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}
