.container {
    padding: 2rem;
    text-align: center;
}

.filters {
    margin-bottom: 1.5rem;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.card {
    padding: 1em;
    border-radius: 50%;
    border: 1px solid var(--vt-c-yellow);
    background: var(--vt-c-black);
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.3s;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: float 4s ease-in-out infinite;
}
.card:hover {
    box-shadow: 0 12px 20px rgba(255, 255, 255, 0.3);
}

.cardTitle {
    margin-bottom: 0;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: var(--vt-c-yellow);
    color: var(--vt-c-black);
    transition: all 0.3s ease;
}

.button.active {
    background: var(--vt-c-orange);
    color: white;
}

.button:hover {
    transform: scale(1.1);
}
