.timelineContainer {
    padding: 2rem;
}

.timeline {
    position: relative;
}
.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background: var(--color-border-card);
}

.timelineItem {
    position: relative;
    width: 50%;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease-in-out;
}
.timelineItem.visible {
    opacity: 1;
    transform: translateY(0);
}
.timelineItem.left {
    left: 0;
    padding-right: 30px;
    text-align: right;
}
.timelineItem.right {
    left: 50%;
    padding-left: 30px;
    text-align: left;
}

.timelineDot {
    position: absolute;
    top: 10px;
    width: 15px;
    height: 15px;
    background: var(--color-border-pin);
    border-radius: 50%;
    border: 3px solid var(--background);
    box-shadow: 0 0 0 2px var(--color-border-pin);
}
.timelineItem.left .timelineDot {
    right: -7.5px;
}
.timelineItem.right .timelineDot {
    left: -7.5px;
}

.timelineContent {
    padding: 15px;
    border-radius: 8px;
    border: 1px solid var(--color-border-card);
}
.what {
    font-size: 1.2em;
    font-weight: bold;
}
.where {
    font-size: 0.8em;
    color: #aaaaaa;
}
.date {
    font-size: 0.8em;
    color: #aaaaaa;
}
.descriptions {
    margin-top: 10px;
}
.descriptions li {
    margin-bottom: 5px;
}
.technologies {
    margin-top: 10px;
}
.tech {
    display: inline-block;
    padding: 2px 9px;
    margin: 5px 5px 0 0;
    border: 1px solid var(--color-border-pin);
    color: var(--foreground);
    border-radius: 4px;
    font-size: 0.9em;
}

@media (max-width: 700px) {
    .timeline::before {
        left: 0;
    }
    .timelineItem {
        width: 100%;
    }
    .timelineItem.left {
        left: 0;
        padding-left: 30px;
        padding-right: 0;
        text-align: left;
    }
    .timelineItem.right {
        left: 0;
        padding-left: 30px;
        padding-right: 0;
        text-align: left;
    }
    .timelineItem.left .timelineDot {
        left: -7.5px;
    }
}
